/* /r/ooerintensifies CSS experiments!

Best of luck, and may you never disable CSS!

*/

 /*----- Edit number of subscribers/online -----*/

 div.titlebox span.word {
	display: none
	}
	
	 p.users-online span.number:after {
	content: " hombres currently intensifying"
	}
	
	span.subscribers:after {
	content: " hombres intensified"
	}
	
	/* Begin /r/redditintensifies CSS.
	
	All credit to /u/LowSociety.
	
	*/
	
	@keyframes spaceboots {
		0% { transform: translate(2px, 1px) rotate(0deg); }
		10% { transform: translate(-1px, -2px) rotate(-1deg); }
		20% { transform: translate(-3px, 0px) rotate(1deg); }
		30% { transform: translate(0px, 2px) rotate(0deg); }
		40% { transform: translate(1px, -1px) rotate(1deg); }
		50% { transform: translate(-1px, 2px) rotate(-1deg); }
		60% { transform: translate(-3px, 1px) rotate(0deg); }
		70% { transform: translate(2px, 1px) rotate(-1deg); }
		80% { transform: translate(-1px, -1px) rotate(1deg); }
		90% { transform: translate(2px, 2px) rotate(0deg); }
		100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
	
	@-moz-keyframes spaceboots {
		0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
		10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
		20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
		30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
		40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
		50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
		60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
		70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
		80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
		90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
		100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
	}
	
	@-webkit-keyframes spaceboots {
		0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
		10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
		20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
		30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
		40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
		50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
		60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
		70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
		80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
		90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
		100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
	}
	
	/*------------------------------------------------
	
	  /r/Ooer CSS
	  Bringing beautiful to your browser
		since the Industrial Revolution.
	  The collaborative effort of:
	  /u/Ooer, /u/thelethalkind, /u/Wisey,
		and /u/williammck
	
	------------------------------------------------*/
	
	/* Begin text styling */
	body {
	  font-family: "Comic Sans MS";
	  background-color: #FFB057 !important;
	  background-image: url(%%bbc%%);
	  content: "oh man i am not good with computer plz to help";
	  text-transform: uppercase;
	  font-size: 25px !important;
	
	/* shaking intensifies*/
	  -webkit-animation-name: spaceboots;
	  -webkit-animation-duration: 0.8s;
	  -webkit-transform-origin:50% 50%;
	  -webkit-animation-iteration-count: infinite;
	  -webkit-animation-timing-function: linear;
	  -moz-animation-name: spaceboots;
	  -moz-animation-duration: 0.8s;
	  -moz-transform-origin:50% 50%;
	  -moz-animation-iteration-count: infinite;
	  -moz-animation-timing-function: linear;
	  animation-name: spaceboots;
	  animation-duration: 0.8s;
	  transform-origin:50% 50%;
	  animation-iteration-count: infinite;
	  animation-timing-function: linear;
	}
	h1 {
	  color: green !important;
	  text-align: center;
	}
	p {
	  font-family: "Courier New" !important;
	  font-size: 25px;
	  background: yellow;
	  border: 20px solid red;
	}
	.md p {
	  font-family: "Arial", sans-serif !important;
	}
	a:hover {
	  font-size: 500px;
	  color: green;
	}
	/* End text styling */
	
	/* Begin header styling */
	#header {
	  background-color: #FF00FF;
	}
	/* End header styling */
	
	/* Begin sidebar styling */
	.side {
	  background-color: blue;
	}
	.title a:before {
	  content: url(%%jizz%%)
	}
	div.titlebox span.number {
	  font-weight: bold;
	  color: purple;
	}
	div.titlebox span.number:before {
	  content: "good bones and calcium come to you "
	}
	div.titlebox span.number:after {
	  content: " thank mr skeltal for no hammocks"
	}
	div.titlebox span.word {
	  display: none
	}
	.side blockquote + hr {
	  border-width: 0;
	  width: 0;
	  background-color: transparent;
	  margin: 10px 0 0;
	}
	/* End sidebar styling */
	
	/* Begin footer styling */
	.footer-parent {
	  height: 800px;
	  padding-top: 0px;
	  padding-bottom: 0px;
	  clear: both;
	  text-align: center;
	  width: 100%;
	}
	.footer-parent:after {
	  content: "â™¥â™¥â™¥ liek dis cry evertim ";
	  font-size: 120px;
	  background: white !important;
	}
	/* End footer styling */
	
	/* Begin announcement sticky */
	div.content {
	  /* This lowers the links to create space */
	  margin-top: 50px;
	}
	.titlebox form {
	  /* Hack to enable repositioning of child elements */
	  position: static;
	}
	.side h3:nth-of-type(1) {
	  /* This code positions the sticky */
	  position: absolute;
	  display: block;
	  top: 130px;
	  left: 40px;
	  /* This code styles the sticky */
	  background-color: #119911;
	  color: #555555;
	  text-align: left;
	  margin: 15px;
	  border-radius: 8px;
	  width: 50%;
	  padding: 7px 0px 7px 40px;
	}
	/* End announcement sticky */
	
	/* Begin username things */
	.link:not(.spam) .author, .comment .author, .side .author {
	  display: none !important;
	}
	.userattrs, .userattrs * {
	  font-size: 0;
	  text-indent: -9999px;
	  overflow: hidden;
	  visibility: hidden !important;
	}
	.spam .author + * {
	  display: none !important;
	}
	.userattrs:before, .userattrs:after {
	  font-size: 10px;
	  visibility: visible !important;
	}
	.author + *:before {
	  content: "Anonymous ";
	  color: #369;
	}
	.comment .author + *:before {
	  font-weight: bold;
	}
	.author.moderator + *:after, .side .author + *:after {
	  content: " ## Mod ##";
	  color: #900;
	}
	/* End username things */
	
	/* Begin OH MAN */
	p:after {
	  content: "oh man i am not good with computer plz to help";
	}
	a:after {
	  content: "oh man i am not good with computer plz to help";
	}
	body:after {
	  content: "oh man i am not good with computer plz to help";
	  font-size: 120px !important;
	}
	/* End OH MAN */
	
	/* Begin floating images */
	body:after {
	  content: url(%%pony%%);
	  position: absolute;
	  bottom: 0;
	  right: 0;
	  z-index: 1;
	  position: fixed;
	}
	body:after {
	  content: url(%%pony2%%);
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  z-index: 2;
	  position: fixed;
	}
	body:after {
	  content: url(%%garlic%%);
	  position: absolute;
	  bottom: 0;
	  left: 600px;
	  z-index: 3;
	  position: fixed;
	}
	/* End floating images */
	
	/* Begin #header-img background color change */
	@-webkit-keyframes header-img {
	  0%   {background:red;}
	  25%  {background:yellow;}
	  50%  {background:blue;}
	  75%  {background:green;}
	  100% {background:red;}
	}
	@keyframes header-img {
	  0%   {background:red;}
	  25%  {background:yellow;}
	  50%  {background:blue;}
	  75%  {background:green;}
	  100% {background:red;}
	}
	#header-img {
	  -webkit-animation: header-img 5s linear infinite;
	  animation: header-img 5s linear infinite;
	}
	
	* {
	   cursor: url(%%sock1%%), auto;
	}
	
	/* End #header-img background color change */
	
	