a:focus, a:hover {
	color: transparent;
}
a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #101010;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("../test.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	
}
hr {
	margin: 2% 44% 1% 44%;
	border-top: 2px solid #fff;
}
p {
	font-family: 'VT323', monospace;
	font-size: 1.4em;
	color: white;
	text-align: center;
	text-shadow: 1px 1px #000;
	margin: 0;
}
ul {
	padding: 0;
}

/* Classes */
.icons {
	display: inline-block;
	text-align: center;
	width: 110px;
	height: 110px;
	margin: 0.3%;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 2%;
}

/* ID */
#avatar {
	min-width: 10%;
	min-height: 20%;
	max-width: 11%;
	max-height: 11%;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid #222222;
	margin-top: 1%;
}
#content {
	background-color: #101010;
	padding: 1%;
	margin: 1% 0;
	display: none;
}
#expand {
	min-width: 2.5%;
	max-width: 2.6%;
	display: block;
	margin: 0 auto;
	margin-top: 2%;
	cursor: pointer;
}
#icon-space {
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-top: 1%;
}
#mutetxt {
	position: absolute;
	left: 97%;
	top: 96%;
	cursor: pointer;
}
#name {
	font-size: 5em;
	font-family: 'VT323', monospace;
}

/* Animations */
#fade {
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}