a:focus, a:hover {
	color: transparent;
}
a {
	text-decoration: none;
	color: transparent;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0px;
	font-family: 'Concert One', cursive;
	background-color: #131821;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
html, body {
	height: 100%;
	overflow: auto;
  }
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	
}
hr {
	margin: 0 30%;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
}
video {
	opacity: 1;
}
iframe {
	width: 100%;
}
#test {
	display: block;
	margin: 0 auto;
}

/* Classes */
.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.hello {
	letter-spacing: 5px;
	margin: 0;
}
.shill {
	width: 35px;
	height: 35px;
}
.text {
	font-size: 60px;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}
.text2 {
	font-size: 38px;
	margin: 0;
	text-shadow: 1px 1px 2px #000000;
}
.vid {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1100px;
	border: 2px solid white;
}

/* ID's */
#address {
	position: absolute;
	left: 32%;
	top: 91%;
	font-size: 16px;
}
#arando {
	position: absolute;
	left: 97%;
	top: 0%;
}
#avi {
	width: 160px;
	border: 1px solid white;
	border-radius: 50%;	
	z-index: 1;
	margin: 0 auto;
	display: block;
}
#count {
	font-size: 96px;
	margin: 5px 0;
	font-weight: lighter;
	text-shadow: 2px 2px 2px #000000;
}
#datetime {
	font-size: 14px;
}
#fix {
	margin-right: 35px;
}
#line {
	padding: 100px 0 0 0;
	border: 1px solid white;
	max-width: 1px;
	top: 93%;
	left: 50%;
	margin: auto;
}
#margin1 {
	margin-top: 115px;
}
#margin2 {
	margin-top: 50px;
}
#miner {
	position: absolute;
	left: 69%;
	top: 17%;
	border: 2px solid black;
	padding-bottom: -5px;
}
#mining {
	position: absolute;
	left: 72%;
	top: 1%;
	width: 200px;
}
#mining2 {
	position: absolute;
	left: 22%;
	top: 87%;
	width: 120px;
}
#mining3 {
	position: absolute;
	left: 59%;
	top: 65.8%;
	width: 230px;
}
#mining4 {
	position: absolute;
	left: 79%;
	top: 7%;
	width: 150px;
}
#mining5 {
	position: absolute;
	left: 84.4%;
	top: 71.7%;
	width: 300px;
}
#mute {
	display: inline-block;
	width: 200px;
	cursor: pointer;
}
#mutediv {
	position: absolute;
	left: 0%;
	top: 90%;
}
#name {
	position: absolute;
	font-size: 50px;
	text-align: center;
	width: 100%;
	text-shadow: 2px 2px 4px #000000;
	letter-spacing: 0px;
}
#name2 {
	top: 26%;
	left: -1%;
	font-size: 50px;
	letter-spacing: 10px;
	text-align: center;
	width: 100%;
	text-shadow: 2px 2px 4px #000000;
}
#yeahoktext {
	font-size: 32px;
	display: none;
}
#you {
	position: absolute;
	left: 59%;
	top: 57%;
}

/*Margins*/
@media screen and (max-width: 1880px) {
	#yeahok {
		display: none;
	}
	#yeahoktext {
		display: block;
	}
	#miner {
		display: block;
		margin: 0 auto;
		left: 10%;
		top: 10%;
	}
}

/* Animations */
#fade {
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera */
	-moz-animation: fadein 4s; /* Firefox */
	-ms-animation: fadein 4s; /* Internet Explorer */
	-o-animation: fadein 4s; /* Opera */
	animation: fadein 4s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }