a {
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: #101010;
	padding: 0;
	height: 100%;
	width: 100%;
	background-image: url("../whatareyoudoinghere.gif");
	background-size: cover;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	
}
hr {
	margin: 2% 44% 1% 44%;
	border-top: 2px solid #fff;
}
p {
	font-family: 'VT323', monospace;
	font-size: 5em;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #000;
	margin: 0;
	vertical-align: middle;
	line-height: 1250px;;
}
ul {
	padding: 0;
}

/* Loader */
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../loader.gif) center no-repeat #fff;
	background-color: #101010;
}