a:focus, a:hover {
	color: transparent;
}
a {
	text-decoration: none;
	color: transparent;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: black;
}
button {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	
}
hr {
	margin: 0 32%;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: white;
	text-align: center;
}
video {
	opacity: 0.4;
}

/* ID's */
#image {
	background-image: url(../jew.jpg);
	background-size: contain;
}