hr {
    margin: 0 30%;
}
p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
}

/* Classes */

.button {
    background-color: rgb(0, 190, 41);
    border: none;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%
}
.faq-head {
    font-weight: bold;
    font-size: 22px;
    text-align: left;
}
.faq-text {
    font-size: 18px;
    text-align: left;
    margin-bottom: 50px;
}
.games {
    height: 200px;
    width: 200px;
    display: block;
    background-size: contain;
}
.games-cov {
    display: inline-block;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    box-shadow: 3px 7px #32A1FF;
    margin: 20px 10px;
    vertical-align: middle;
}
.games-head {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
}
.games-text {
    font-size: 16px;
    margin-top: 0px;
}
.footer {
    display: inline-block;
    margin-right: 10%;
    text-align: left;
}
.selling {
    display: block;
    margin: 0 20%;
}

/* ID's */

#bodybg {
    background-color: #101010;
}
#faq {
    display: block;
    margin: 0 16%;
    text-align: left;
}
#foot {
    background-color: #1d1d1d;
    padding: 20px 5px;
    margin-top: 90px;
}
#footerlogo {
    display: inline-block;
}
#footmargin {
    margin: 0 20%;
}
#foottext {
    font-size: 28px;
    text-align: left;
    letter-spacing: 4px;
}
#foottext2 {
    text-align: left;
}
#footp {
    margin-top: 25px;
    letter-spacing: 2px;
    margin-bottom: -10px;
    font-size: 11px;
}
#gamepage {
    display: block;
    margin: 0 5%;
}
#image {
    background-image: url(../img/placeholdercrop.png);
    height: 500px;
    margin-top: -20px;
    border-bottom: 5px solid #32A1FF;
    border-top: 5px solid #32A1FF;
}
#imagehr {
    margin: 0 42%;
}
#imagetext {
    padding-top: 5%;
    font-size: 46px;
    font-weight: 200;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 1px 2px #000;
}
#imagetext2 {
    padding-top: 1%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 4px;
    text-align: center;
    text-shadow: 1px 1px #000;
}
#mediahead {
    color: white;
    font-size: 24px;
}
#mediahead-right {
    color: white;
    font-size: 24px;
    text-align: right;
}
#mediatext-left {
    color: white;
    text-align: left;
}
#mediatext-right {
    color: white;
    text-align: right;
}
#sellingpoint {
    display: block;
    margin: 0 16%;
}
#titletext {
    margin-top: 10px;
    font-size: 46px;
    font-weight: 200;
    letter-spacing: 10px;
    text-align: center;
}
#ul-fix {
    margin-left: 40px;
}

@media screen and (max-width: 1653px) {
	#footerlogo {
        display: none;
    }
}