.flash {
   -webkit-animation-name: flash-animation;
   -webkit-animation-duration: 0.3s;

   animation-name: flash-animation;
   animation-duration: 0.3s;
}
@-webkit-keyframes flash-animation {  
	from { background: yellow; }
	to   { background: default; }
}
@keyframes flash-animation {  
	from { background: yellow; }
	t
}
{}	
#myImg {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}